tsne_utils
compile_commands.json

*.o
*.so
*.pyc
*__pycache__*
*.py[cod]
*$py.class

*.swp

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

bhtsne/bh_tsne
Multicore-TSNE/build/*
Multicore-TSNE/dist/*

# exclude everything
build/

# exception to the rule
!build/.gitkeep

# Ignore animation
visualization/animation.gif

.DS_Store
.mypy_cache/
.vscode/

# vim
*.swp
*.swo

# FAISS third_party dependencies
!build/.gitkeep

# WINDOWS
.vs/

