[submodule "cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "third_party/faiss"]
	path = third_party/faiss
	url = https://github.com/facebookresearch/faiss.git
