tsne_utils
compile_commands.json

*.o
*.so
*.pyc
*__pycache__*
*.py[cod]
*$py.class

*.swp

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

bhtsne/bh_tsne
Multicore-TSNE/build/*
Multicore-TSNE/dist/*

# exclude everything
build/

# exception to the rule
!build/.gitkeep

# Ignore animation
visualization/animation.gif

.DS_Store
.mypy_cache/
.vscode/

# vim
*.swp
*.swo

# FAISS third_party dependencies
third_party/faiss/depend
third_party/faiss/*.txt
third_party/faiss/*.txt.in
third_party/faiss/src/faiss_core-*
